h1 {
    color: white;
}



.header{
    background-color: rgb(101, 95, 160);
    display: flex;
    justify-content: space-between;
}

.site-description{
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

p,h2{
    text-align: left;
    font-family: comic sans ms;
    
}

body{
    background-color: #099;
}